@import '../../sass/main.scss';

.nav {
    position: relative;
    top: 50px;
    &_list {
        list-style: none;
        @include flex(row, center, center);
        gap: 50px;
        &_item {
            text-decoration: none;
            color: black;
            &_active {
                text-decoration: underline solid 1px black;
                color: black;
            }
        }
    }
}

.nav_list_item_active:hover {
    transform: scale(1.1);
}

.nav_list_item:hover {
    transform: scale(1.1);
}
